ion-card {
  ion-img {
    width: 100%;
    height: 50px;
    crop: auto;
  }
}

.avatar-row {
  display: flex;
  align-items: stretch;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}

.centrar {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



ion-text {
  font-size: 1.4rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  width: 100%;
  max-width: 330px;
  height: auto;
  aspect-ratio: 3 / 4;
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-inner.flipped {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.card-front {
  background-color: #000000;
}

.card-back {
  background-color: #000000;
  transform: rotateY(180deg);
}

.grid1 {
  margin-top: 15%;
}

.boton {
  --background: transparent;
}

.like-button {
  background-color: white;
  border: none;
  position: relative;
  overflow: hidden;
  padding: 0;
  margin-top: 30%;
  margin-bottom: 20%;
  transition: color 0.4s;

  ion-icon {
    font-size: 2em;
    color: red;
    -webkit-text-stroke: 1px black;
    transition: color 0.4s;
  }
}

.like-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  z-index: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s;
}

.like-button:hover::before,
.like-button:focus::before,
.like-button:active::before {
  transform: scaleX(1);
}

.like-button:hover ion-icon,
.like-button:focus ion-icon,
.like-button:active ion-icon {
  color: white;
  z-index: 1;
}

@media (min-width: 768px) {
  .grid1 {
    margin-top: 10%;
  }

  .card {
    max-width: 250px;
  }
}

@media (min-width: 1024px) {
  .grid1 {
    margin-top: 5%;
  }

  .card {
    max-width: 330px;
  }
}

@media (min-width: 768px) {
  .nombre {
    font-size: 1.6rem;
  }

  ion-text {
    font-size: 1.6rem;
  }

  h1 {
    font-size: 2.4rem;
  }

  ion-card {
    max-height: none;
  }
  div {
    height: 250px;
    padding-top: 0;
  }

  .card {
    max-width: 250px;
  }
}

@media (min-width: 1024px) {
  .nombre {
    font-size: 4rem;
  }

  ion-text {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 3rem;
  }

  .avatar {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    overflow: hidden;
  }

  .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  ion-card {
    max-height: none;
  }
  div {
    height: 300px;
    padding-top: 0;
  }
}

ion-card {
  ion-img {
    width: 100%;
    height: 50px;
    crop: auto;
  }
}

@media (max-width: 767px) {
  .product-card {
    width: 48%;
    margin: 1%;
    margin-left: 4%;
    margin-top: 4%;
  }

  .card {
    max-width: 100%;
  }
}

@media (min-width: 1440px) {
  .product-card {
    margin-top: 2%;
    margin-left: 2%;
  }
}

@media (min-width: 1850px) {
  .product-card {
    margin-top: 2%;
    margin-left: 2%;
  }
}

.avatar-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.valoracion {
  margin-top: 10px;
  display: flex;
  align-items: center;
  text-align: center;
}

.estrella-btn {
  color: #994b7c;
  padding: 0;
  margin: 0 2px;
  background-color: transparent;
}

.product-name,
.price-container {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  margin-left: 0;
  text-align: left;
}

.product-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px;
}

ion-popover.custom-popover {
  --background: #000000;
  --color: #ffffff;
}

ion-popover.custom-popover .popover-content {
  color: #ffffff !important;
}

ion-popover.custom-popover ion-icon {
  color: #ffffff !important;
}

.iconos{
  color: #994b7c;
  scale: 1.5;
}

