<ion-grid>
  <ion-row class="avatar-row">
    <ion-col size="4" class="ion-text-center avatar-col">
      <ion-avatar class="avatar">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
    </ion-col>
    <ion-col size="8">
      <ion-row>
        <ion-col>
          <ion-text><b>Nombre Usuario</b></ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text style="font-size: 12px">Ubicación</ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-top">
        <ion-col>
          <ion-text style="font-size: 12px">Seguidores</ion-text>
        </ion-col>
        <ion-col>
          <ion-text style="font-size: 12px">Seguidos</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text style="font-size: 12px">0</ion-text>
        </ion-col>
        <ion-col>
          <ion-text style="font-size: 12px">0</ion-text>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
