<app-panel-admin></app-panel-admin>
<app-buscador-menu></app-buscador-menu>

<ion-content>
  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col size="6" size-md="3" size-lg="3" *ngFor="let producto of productos">
          <ion-card>
            <ion-card-content class="ion-margin">
              <ion-img [src]="producto.imagen"/>
              <ion-card-subtitle style="font-size: 12px; margin-top: 10px">
                <b>{{ producto.nombre }}</b>
              </ion-card-subtitle>
              <ion-card-subtitle style="font-size: 12px">
                <b>{{ producto.descripcion }}</b>
              </ion-card-subtitle>
              <ion-card-subtitle style="font-size: 12px">
                <b>{{ producto.precio }}</b>
              </ion-card-subtitle>
              <ion-card-subtitle style="font-size: 12px">
                <b>{{ producto.estado }}</b>
              </ion-card-subtitle>
              <ion-card-subtitle style="font-size: 12px">
                <b>{{ producto.vendido ? 'Vendido' : 'Disponible' }}</b>
              </ion-card-subtitle>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<app-menu-inferior-admin></app-menu-inferior-admin>
