@font-face {
  font-family: 'Louis George Cafe';
  src: url('/assets/fonts/Louis George Cafe.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

ion-header {
  max-width: 1275px;
}

ion-searchbar {
  --background: rgba(0, 0, 0, 0.92);
  --border-radius: 50px;
  --ion-font-family: 'Louis George Cafe';
}

ion-menu {
  --background: #000000;
  --box-shadow: none;
  border: none;
}

ion-toolbar {
  --background: #000000;
  --ion-font-family: 'Louis George Cafe';
  border-bottom: 1px solid #ffffff;
}

ion-searchbar {
  --color: white;
  --placeholder-color: white;
}

ion-searchbar::part(icon) {
  color: white;
}

