<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-searchbar placeholder="Buscar"></ion-searchbar>
</ion-toolbar>

<ion-menu side="start" menuId="main-menu" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item routerLink="/pagina1">Página 1</ion-item>
      <ion-item routerLink="/pagina2">Página 2</ion-item>
      <ion-item routerLink="/pagina3">Página 3</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content id="main-content"></ion-content>
