ion-tab-button ion-icon,
ion-tab-button ion-text {
  color: white;
}

.vertical-tabs-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 180px;
  display: flex;
  flex-direction: column;
  --background: #000000;
  background: #000000;
  border-right: 1px solid #ffffff;
  z-index: 10;
}

ion-tab-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 10px;
  height: 60px;
  flex-direction: row;
}

ion-icon {
  margin-right: 10px;
}

ion-text {
  font-size: 18px;
}

