@font-face {
  font-family: 'Louis George Cafe';
  src: url('/assets/fonts/Louis George Cafe.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div {
  @media (max-width: 600px) {
    margin-top: 20%;
  }

  @media (min-width: 601px) and (max-width: 1024px) {
    margin-top: 7%;
  }

  @media (min-width: 1025px) {
    margin-top: 4%;
  }

  @media (min-width: 1850px) {
    margin-top: 5%;
  }
}

.boton-guardar {
  --background: #994B7C;
  margin-top: 20px;
}

ion-item {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-input, ion-label {
  font-family: 'Louis George Cafe', sans-serif;
  color: black;
}

ion-item ion-label {
  color: black;
}

.horizontal-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.outlined-button {
  --background: #994B7C;
  --color: #fff;
  font-size: 12px;
  border-radius: 5px;
}
