<ion-header>
  <app-navbar></app-navbar>
</ion-header>

<ion-content>
  <div class="restablecer-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Restablecer Contraseña</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Nueva Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="nuevaContrasena" name="newPassword" required></ion-input>
        </ion-item>

        <ion-button expand="full" (click)="restablecerContrasena()">Restablecer Contraseña</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
