<ion-content>
  <app-panel-admin></app-panel-admin>
  <app-buscador-menu-admin (searchEvent)="onSearch($event.searchValue)"></app-buscador-menu-admin>

  <ion-list class="grid-container-admin">
    <ion-grid>
      <ion-row>
        <ion-col size="6" size-md="3" size-lg="3" *ngFor="let perfil of perfiles">
          <ion-card>
            <ion-card-content>
              <div>
                <ion-img [src]="perfil.imagen"/>
              </div>
              <ion-card-subtitle style="font-size: 12px; margin-top: 10px">
                <b>{{ perfil.nombre }} {{ perfil.apellido }}</b>
              </ion-card-subtitle>
              <ion-card-subtitle style="font-size: 12px">
                <b>{{ perfil.ubicacion }}</b>
              </ion-card-subtitle>
              <ion-card-subtitle style="font-size: 12px">
                <b>{{ perfil.baneado ? 'Baneado' : 'Activo' }}</b>
              </ion-card-subtitle>
              <ion-card-subtitle style="justify-content: center">
                <ion-button class="modificar" [routerLink]="['/modificar-perfil', perfil.id]" [queryParams]="{ admin: true }">
                  <ion-icon name="create"></ion-icon>
                </ion-button>
                <ion-button class="eliminar" (click)="confirmarBorrado(perfil.id)">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </ion-card-subtitle>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <app-menu-inferior-admin></app-menu-inferior-admin>
</ion-content>

