<app-panel-admin></app-panel-admin>
<app-buscador-menu></app-buscador-menu>

<ion-content>
  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col size="6" size-md="3" size-lg="3" *ngFor="let perfil of perfiles">
          <ion-card>
            <ion-card-content class="ion-margin">
                <ion-img [src]="'https://static.vecteezy.com/system/resources/previews/002/275/847/non_2x/male-avatar-profile-icon-of-smiling-caucasian-man-vector.jpg'"/>
              <ion-card-subtitle style="font-size: 12px; margin-top: 10px">
                <b>{{ perfil.nombre }} {{ perfil.apellido }}</b>
              </ion-card-subtitle>
              <ion-card-subtitle style="font-size: 12px">
                <b>{{ perfil.ubicacion }}</b>
              </ion-card-subtitle>
              <ion-card-subtitle style="font-size: 12px">
                <b>{{ perfil.baneado ? 'Baneado' : 'Activo' }}</b>
              </ion-card-subtitle>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<app-menu-inferior-admin></app-menu-inferior-admin>
