.avatar {
  margin-left: 20px;
  width: 55px;
  height: 55px;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.nombreusuario{
  float: left;
  color: #994B7C;
  font-size: 25px;
  font-weight: bold;
  margin-top: 5px;
  padding: 0;
  margin-left: 15px;
}
.iconomensaje{
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  color: #994B7C;
  font-size: 30px;
}
