<ion-content>
  <div class="contenido">
    <div class="chat-list">
      <div class="chat-item" *ngFor="let chat of chats" (click)="cargarChat(chat.id)">
        <div class="chat-avatar">
          <img [src]="perfiles[chat.id_creador === idUsuario ? chat.id_receptor : chat.id_creador]?.imagen" />
        </div>
        <div class="chat-nombreusuario">
          {{ perfiles[chat.id_creador === idUsuario ? chat.id_receptor : chat.id_creador]?.nombre }}
        </div>
        <div class="chat-icon">
          <ion-icon name="chatbubble-outline"></ion-icon>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="isScreenSmall; else largeScreen">
    <app-menu-inferior></app-menu-inferior>
  </ng-container>
  <ng-template #largeScreen>
    <app-menu-lateral></app-menu-lateral>
  </ng-template>
</ion-content>
