.contenido {
  .chat-list {
    display: flex;
    flex-direction: column;
  }

  .chat-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }

  .chat-avatar {
    margin-right: 10px;
  }

  .chat-avatar img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  .chat-nombreusuario {
    flex-grow: 1;
    color: white;
    font-size: 30px;
    margin-left: 5%;
  }

  .chat-icon {
    margin-left: auto;
    color: white;
    font-size: 50px;
  }

  .chat-item {
    background: #000000;
  }
}
