.chat-container {
  --background: #f0f0f0;
  padding: 10px;
}

.message-row {
  display: flex;
  align-items: flex-end;
}

.message-row.received {
  justify-content: flex-start;
}

.message-row.sent {
  justify-content: flex-end;
}

.message-content {
  max-width: 75%;
}

.message-bubble {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 10px 15px;
  font-size: 14px;
  color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.message-row.sent .message-bubble {
  background-color: #994B7C;
  color: white;
}

.message-time {
  font-size: 10px;
  color: #aaa;
  margin-top: 5px;
}

.chat-input-container {
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.chat-input {
  background-color: #d5d2d2;
  border-radius: 25px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  width: 100%;
  margin-bottom: 60px;
}

.input-field {
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  flex: 1;
}

.send-icon {
  font-size: 22px;
  color: #994B7C;
  cursor: pointer;
  margin-left: 8px;
}

.menu-inferior-container {
  background-color: #ffffff;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

ion-header {
  --border-color: #994B7C;
  box-shadow: 0 2px 5px rgb(153, 75, 124);
}

.nombreusuario{
  float: left;
  color: #994B7C;
  font-size: 25px;
  font-weight: bold;
  margin-top: 5px;
  padding: 0;
  margin-left: 15px;
}

.navbar-avatar {
  margin-left: 20px;
  width: 55px;
  height: 55px;
}

.navbar-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.estrellas {
  color: #994b7c;
  float: left;
  margin: 0;
  padding: 0;
  margin-left: 10px;

}

.estrella-btn {
  color: #b6b5b5;
  padding: 0;
  margin: 0 2px;
  background-color: transparent;
}


.selected-star {
  color: #994b7c;
}
