@font-face {
  font-family: 'Louis George Cafe';
  src: url('/assets/fonts/Louis George Cafe.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  ion-card {
    width: 100%;
    max-width: 400px;
  }
  links-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  .olvidon {
    font-size: 0.8rem;
    margin-left: 120px;
  }

  ion-input, ion-label {
    font-family: 'Louis George Cafe', sans-serif;
  }

  .password-item ion-icon {
    align-self: center;
  }

  ion-button {
    --background: #994B7C;
  }
}




