<ion-content>
  <app-panel-admin></app-panel-admin>
  <app-buscador-menu-admin (searchEvent)="onSearch($event.searchValue)"></app-buscador-menu-admin>

  <ion-list class="grid-container-admin">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="12" size-lg="12" *ngFor="let reporte of reportes">
          <ion-card>
            <ion-card-content class="ion-margin">
              <ion-card-subtitle style="font-size: 12px; margin-top: 10px">
                <b>Reporte de cuenta: {{ perfiles[reporte.id_reportado].nombre}}</b>
              </ion-card-subtitle>
              <ion-card-subtitle style="font-size: 12px">
                <b>Reportado por: {{ perfiles[reporte.id_reportador].nombre}}</b>
              </ion-card-subtitle>
              <ion-card-subtitle style="font-size: 12px">
                <b>Fecha Reporte: {{ reporte.fecha }}</b>
              </ion-card-subtitle>
              <ion-card-subtitle style="font-size: 12px">
                <b>Motivo: {{ reporte.motivo }}</b>
              </ion-card-subtitle>
              <ion-button class="eliminar" *ngIf="noBaneado" (click)="banearPerfil(reporte.id_reportado, reporte.motivo)">Banear Cuenta</ion-button>
              <ion-button class="modificar" *ngIf="baneado" (click)="desbanearPerfil(reporte.id_reportado)">Desbanear Cuenta</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <app-menu-inferior-admin></app-menu-inferior-admin>
</ion-content>
