<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio">
      <ion-icon name="home"></ion-icon>
      Inicio
    </ion-tab-button>
    <ion-tab-button tab="favoritos">
      <ion-icon name="heart"></ion-icon>
      Favoritos
    </ion-tab-button>
    <ion-tab-button tab="vender">
      <ion-icon name="pricetag"></ion-icon>
      Vender
    </ion-tab-button>
    <ion-tab-button tab="mensajes">
      <ion-icon name="chatbubbles"></ion-icon>
      Mensajes
    </ion-tab-button>
    <ion-tab-button tab="cuenta">
      <ion-icon name="person"></ion-icon>
      Cuenta
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
