<ion-tabs>
  <ion-tab-bar slot="bottom" class="color-app-hover">
    <ion-tab-button [routerLink]="'/productos'">
      <ion-icon name="home"></ion-icon>
      <ion-text> Inicio </ion-text>
    </ion-tab-button>
    <ion-tab-button tab="favoritos">
      <ion-icon name="heart"></ion-icon>
      <ion-text> Favoritos </ion-text>
    </ion-tab-button>
    <ion-tab-button tab="vender">
      <ion-icon name="pricetag"></ion-icon>
      <ion-text> Vender </ion-text>
    </ion-tab-button>
    <ion-tab-button tab="mensajes">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-text> Mensajes </ion-text>
    </ion-tab-button>
    <ion-tab-button [routerLink]="'/perfil'">
      <ion-icon name="person"></ion-icon>
      <ion-text> Cuenta </ion-text>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
