<ion-content>
  <ion-card class="profile-card" *ngIf="perfil">
    <ion-grid>
      <ion-row class="avatar-row">
        <ion-col size="6" class="ion-text-center avatar-col">
          <ion-avatar class="avatar" style="margin: 0 auto;">
            <img [alt]="perfil.nombre" [src]="perfil.avatarUrl" />
          </ion-avatar>
        </ion-col>
        <ion-col size="6">
          <ion-row style="align-items: center;">
            <ion-col>
              <ion-text><b>{{ perfil.nombre }}</b></ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text style="font-size: 12px">{{ perfil.ubicacion }}</ion-text>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card class="product-card" *ngIf="producto">
    <ion-card-content class="ion-margin">
      <ion-img [src]="producto.imagen"/>
      <ion-card-title class="price-container" style="margin-top: 10px">
        {{ producto.precio + "€" }}
        <ion-button fill="clear" class="ion-float-end">
          <ion-icon name="heart-outline" class="heart-icon"></ion-icon>
        </ion-button>
      </ion-card-title>
      <ion-card-subtitle class="product-name">
        <b>{{ producto.nombre }}</b>
      </ion-card-subtitle>
      <ion-card-subtitle>{{ producto.descripcion }}</ion-card-subtitle>
      <ion-card-subtitle>{{ producto.estado }}</ion-card-subtitle>
      <ion-card-subtitle class="ion-text-end"><b>{{ producto.ubicacion }}</b></ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <app-menu-inferior></app-menu-inferior>
</ion-content>
