<ion-tabs>
  <ion-tab-bar slot="bottom" class="color-app-hover">
    <ion-tab-button [routerLink]="'/panel-admin-perfiles'">
      <ion-icon name="people"></ion-icon>
      <ion-text> Cuentas </ion-text>
    </ion-tab-button>
    <ion-tab-button [routerLink]="'/panel-admin-productos'">
      <ion-icon name="document-text"></ion-icon>
      <ion-text> Publicaciones </ion-text>
    </ion-tab-button>
    <ion-tab-button [routerLink]="'/panel-admin-reportes'">
      <ion-icon name="warning"></ion-icon>
      <ion-text> Reportes </ion-text>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
