@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import '@ionic/angular/css/palettes/dark.system.css';

@font-face {
  font-family: 'Louis George Cafe';
  src: url('/assets/fonts/Louis George Cafe.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.error {
  --background: #ff0000;
  --color: #000;
  --border-radius: 80px;
  font-size: 16px;
  text-align: center;
}

.ok {
  --background: #3eff00;
  --color: #000;
  border-radius: 80px;
  font-size: 16px;
  text-align: center;
}

hr {
  border: 0;
  border-top: 0.25px solid #000;
  margin: 5px 0;
}

ion-text, h1, h2, h3, h4, h5, h6, ion-title, ion-card-subtitle, ion-card-title, ion-button, ion-item, p, a {
  font-family: "Louis George Cafe";
  color: #ffffff;
}


app-buscador-menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: auto;
}

app-panel-admin {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 1%;
}

app-buscador-menu-admin {
  position: fixed;
  top: 50px;
  width: 100%;
  z-index: 999;
}

app-menu-lateral {
  top: 0px;
  position: fixed;
  width: 12%;
  z-index: 1000;
  height: 700px;
  border-right: 2px solid #ffffff;

}

@media (min-width: 1440px) {
  app-menu-lateral {
    width: 15%;
    height: 700px;
  }
}

@media (min-width: 1850px) {
  app-menu-lateral {
    width: 15%;
    height: 925px;
  }
}

app-menu-inferior {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  height: 50px;
}

app-menu-inferior-admin {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  height: 50px;
}

.grid-container-admin {
  position: absolute;
  top: 11%;
  bottom: 50px;
  left: 0;
  right: 0;
  overflow-y: auto;
  padding: 0 16px;
  z-index: 500;
}

ion-content {
  --background: rgb(24, 24, 24);
  padding-top: 120px;
  padding-bottom: 50px;
  box-sizing: content-box;
}

ion-list {
  --background: transparent;
  background: transparent;
}

ion-list, ion-grid, ion-row, ion-col {
  --background: transparent;
  background: transparent;
}

.grid-container
{
 position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

ion-card {
  --background: #000000;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.92);
}

ion-list ion-grid ion-col ion-row {
  --background: transparent;
  background: transparent;
}

.modificar {
  --background: #994B7C;
  --color: #ffffff;
}

.eliminar {
  --background: #ff0000;
  --color: #ffffff;
}

@media (min-width: 1024px) {
  .contenido {
    margin-left: 12%;
  }
}

@media (min-width: 1440px) {
  .contenido {
    margin-left: 15%;
  }
}
